@media (prefers-color-scheme: light) {
  :root {
    --focus: 0 0 0 4px rgba(0, 0, 0, 0.5);

    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e0e0e0;
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbbbbb;
    --gray-9: #8d8d8d;
    --gray-10: #838383;
    --gray-11: #646464;
    --gray-12: #202020;

    --slate-1: #fcfcfd;
    --slate-2: #f9f9fb;
    --slate-3: #f0f0f3;
    --slate-4: #e8e8ec;
    --slate-5: #e0e1e6;
    --slate-6: #d9d9e0;
    --slate-7: #cdced6;
    --slate-8: #b9bbc6;
    --slate-9: #8b8d98;
    --slate-10: #80838d;
    --slate-11: #60646c;
    --slate-12: #1c2024;

    --brown-1: #fefdfc;
    --brown-2: #fcf9f6;
    --brown-3: #f6eee7;
    --brown-4: #f0e4d9;
    --brown-5: #ebdaca;
    --brown-6: #e4cdb7;
    --brown-7: #dcbc9f;
    --brown-8: #cea37e;
    --brown-9: #ad7f58;
    --brown-10: #a07553;
    --brown-11: #815e46;
    --brown-12: #3e332e;

    --yellow-1: #fdfdf9;
    --yellow-2: #fefce9;
    --yellow-3: #fffab8;
    --yellow-4: #fff394;
    --yellow-5: #ffe770;
    --yellow-6: #f3d768;
    --yellow-7: #e4c767;
    --yellow-8: #d5ae39;
    --yellow-9: #ffe629;
    --yellow-10: #ffdc00;
    --yellow-11: #9e6c00;
    --yellow-12: #473b1f;

    --amber-1: #fefdfb;
    --amber-2: #fefbe9;
    --amber-3: #fff7c2;
    --amber-4: #ffee9c;
    --amber-5: #fbe577;
    --amber-6: #f3d673;
    --amber-7: #e9c162;
    --amber-8: #e2a336;
    --amber-9: #ffc53d;
    --amber-10: #ffba18;
    --amber-11: #ab6400;
    --amber-12: #4f3422;

    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;

    --tomato-1: #fffcfc;
    --tomato-2: #fff8f7;
    --tomato-3: #feebe7;
    --tomato-4: #ffdcd3;
    --tomato-5: #ffcdc2;
    --tomato-6: #fdbdaf;
    --tomato-7: #f5a898;
    --tomato-8: #ec8e7b;
    --tomato-9: #e54d2e;
    --tomato-10: #dd4425;
    --tomato-11: #d13415;
    --tomato-12: #5c271f;

    --red-1: #fffcfc;
    --red-2: #fff7f7;
    --red-3: #feebec;
    --red-4: #ffdbdc;
    --red-5: #ffcdce;
    --red-6: #fdbdbe;
    --red-7: #f4a9aa;
    --red-8: #eb8e90;
    --red-9: #e5484d;
    --red-10: #dc3e42;
    --red-11: #ce2c31;
    --red-12: #641723;

    --pink-1: #fffcfe;
    --pink-2: #fef7fb;
    --pink-3: #fee9f5;
    --pink-4: #fbdcef;
    --pink-5: #f6cee7;
    --pink-6: #efbfdd;
    --pink-7: #e7acd0;
    --pink-8: #dd93c2;
    --pink-9: #d6409f;
    --pink-10: #cf3897;
    --pink-11: #c2298a;
    --pink-12: #651249;

    --purple-1: #fefcfe;
    --purple-2: #fbf7fe;
    --purple-3: #f7edfe;
    --purple-4: #f2e2fc;
    --purple-5: #ead5f9;
    --purple-6: #e0c4f4;
    --purple-7: #d1afec;
    --purple-8: #be93e4;
    --purple-9: #8e4ec6;
    --purple-10: #8347b9;
    --purple-11: #8145b5;
    --purple-12: #402060;

    --violet-1: #fdfcfe;
    --violet-2: #faf8ff;
    --violet-3: #f4f0fe;
    --violet-4: #ebe4ff;
    --violet-5: #e1d9ff;
    --violet-6: #d4cafe;
    --violet-7: #c2b5f5;
    --violet-8: #aa99ec;
    --violet-9: #6e56cf;
    --violet-10: #654dc4;
    --violet-11: #6550b9;
    --violet-12: #2f265f;

    --indigo-1: #fdfdfe;
    --indigo-2: #f7f9ff;
    --indigo-3: #edf2fe;
    --indigo-4: #e1e9ff;
    --indigo-5: #d2deff;
    --indigo-6: #c1d0ff;
    --indigo-7: #abbdf9;
    --indigo-8: #8da4ef;
    --indigo-9: #3e63dd;
    --indigo-10: #3358d4;
    --indigo-11: #3a5bc7;
    --indigo-12: #1f2d5c;

    --blue-1: #fbfdff;
    --blue-2: #f4faff;
    --blue-3: #e6f4fe;
    --blue-4: #d5efff;
    --blue-5: #c2e5ff;
    --blue-6: #acd8fc;
    --blue-7: #8ec8f6;
    --blue-8: #5eb1ef;
    --blue-9: #0090ff;
    --blue-10: #0588f0;
    --blue-11: #0d74ce;
    --blue-12: #113264;

    --teal-1: #fafefd;
    --teal-2: #f3fbf9;
    --teal-3: #e0f8f3;
    --teal-4: #ccf3ea;
    --teal-5: #b8eae0;
    --teal-6: #a1ded2;
    --teal-7: #83cdc1;
    --teal-8: #53b9ab;
    --teal-9: #12a594;
    --teal-10: #0d9b8a;
    --teal-11: #008573;
    --teal-12: #0d3d38;

    --green-1: #fbfefc;
    --green-2: #f4fbf6;
    --green-3: #e6f6eb;
    --green-4: #d6f1df;
    --green-5: #c4e8d1;
    --green-6: #adddc0;
    --green-7: #8eceaa;
    --green-8: #5bb98b;
    --green-9: #30a46c;
    --green-10: #2b9a66;
    --green-11: #218358;
    --green-12: #193b2d;

    --lime-1: #fcfdfa;
    --lime-2: #f8faf3;
    --lime-3: #eef6d6;
    --lime-4: #e2f0bd;
    --lime-5: #d3e7a6;
    --lime-6: #c2da91;
    --lime-7: #abc978;
    --lime-8: #8db654;
    --lime-9: #bdee63;
    --lime-10: #b0e64c;
    --lime-11: #5c7c2f;
    --lime-12: #37401c;
  }
}
