@media (prefers-color-scheme: light) {
  :root {
    --red-1: #fff1f2;
    --red-2: #ffe4e6;
    --red-3: #fecdd3;
    --red-4: #fda4af;
    --red-5: #fb7185;
    --red-6: #f43f5e;
    --red-7: #e11d48;
    --red-8: #be123c;
    --red-9: #9f1239;
    --red-10: #881337;
    --red-11: #701c1c;
    --red-12: #5a0b0b;
    --orange-1: #fff7ed;
    --orange-2: #ffedd5;
    --orange-3: #fed7aa;
    --orange-4: #fdba74;
    --orange-5: #fb923c;
    --orange-6: #f97316;
    --orange-7: #ea580c;
    --orange-8: #c2410c;
    --orange-9: #9a3412;
    --orange-10: #7c2d12;
    --orange-11: #651e1e;
    --orange-12: #4b1d1d;
    --yellow-1: #fefce8;
    --yellow-2: #fef9c3;
    --yellow-3: #fef08a;
    --yellow-4: #fde047;
    --yellow-5: #facc15;
    --yellow-6: #eab308;
    --yellow-7: #ca8a04;
    --yellow-8: #a16207;
    --yellow-9: #854d0e;
    --yellow-10: #713f12;
    --yellow-11: #513c1c;
    --yellow-12: #362d1d;
    --green-1: #f0fdf4;
    --green-2: #dcfce7;
    --green-3: #bbf7d0;
    --green-4: #86efac;
    --green-5: #4ade80;
    --green-6: #22c55e;
    --green-7: #16a34a;
    --green-8: #15803d;
    --green-9: #166534;
    --green-10: #14532d;
    --green-11: #124f1c;
    --green-12: #0f411b;
    --blue-1: #eff6ff;
    --blue-2: #dbeafe;
    --blue-3: #bfdbfe;
    --blue-4: #93c5fd;
    --blue-5: #60a5fa;
    --blue-6: #3b82f6;
    --blue-7: #2563eb;
    --blue-8: #1d4ed8;
    --blue-9: #1e40af;
    --blue-10: #1e3a8a;
    --blue-11: #1c2f5d;
    --blue-12: #1a1e3f;
    --purple-1: #faf5ff;
    --purple-2: #f3e8ff;
    --purple-3: #e9d5ff;
    --purple-4: #d8b4fe;
    --purple-5: #c084fc;
    --purple-6: #a855f7;
    --purple-7: #9333ea;
    --purple-8: #7e22ce;
    --purple-9: #6b21a8;
    --purple-10: #581c87;
    --purple-11: #441f5b;
    --purple-12: #331b3d;
    --pink-1: #fdf2f8;
    --pink-2: #fce7f3;
    --pink-3: #fbcfe8;
    --pink-4: #f9a8d4;
    --pink-5: #f472b6;
    --pink-6: #ec4899;
    --pink-7: #db2777;
    --pink-8: #be185d;
    --pink-9: #9d174d;
    --pink-10: #831843;
    --pink-11: #651e35;
    --pink-12: #51172a;
    --gray-1: #f9fafb;
    --gray-2: #f3f4f6;
    --gray-3: #e5e7eb;
    --gray-4: #d1d5db;
    --gray-5: #9ca3af;
    --gray-6: #6b7280;
    --gray-7: #4b5563;
    --gray-8: #374151;
    --gray-9: #1f2937;
    --gray-10: #111827;
    --gray-11: #0d121a;
    --gray-12: #0a0e16;
    --slate-1: #f8fafc;
    --slate-2: #f1f5f9;
    --slate-3: #e2e8f0;
    --slate-4: #cbd5e1;
    --slate-5: #94a3b8;
    --slate-6: #64748b;
    --slate-7: #475569;
    --slate-8: #334155;
    --slate-9: #1e293b;
    --slate-10: #0f172a;
    --slate-11: #0e141f;
    --slate-12: #0a0e16;
    --focus: 0 0 0 4px rgba(30, 64, 175, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --red-1: #5a0b0b;
    --red-2: #701c1c;
    --red-3: #881337;
    --red-4: #9f1239;
    --red-5: #be123c;
    --red-6: #e11d48;
    --red-7: #f43f5e;
    --red-8: #fb7185;
    --red-9: #fda4af;
    --red-10: #fecdd3;
    --red-11: #ffe4e6;
    --red-12: #fff1f2;
    --orange-1: #4b1d1d;
    --orange-2: #651e1e;
    --orange-3: #7c2d12;
    --orange-4: #9a3412;
    --orange-5: #c2410c;
    --orange-6: #ea580c;
    --orange-7: #f97316;
    --orange-8: #fb923c;
    --orange-9: #fdba74;
    --orange-10: #fed7aa;
    --orange-11: #ffedd5;
    --orange-12: #fff7ed;
    --yellow-1: #362d1d;
    --yellow-2: #513c1c;
    --yellow-3: #713f12;
    --yellow-4: #854d0e;
    --yellow-5: #a16207;
    --yellow-6: #ca8a04;
    --yellow-7: #eab308;
    --yellow-8: #facc15;
    --yellow-9: #fde047;
    --yellow-10: #fef08a;
    --yellow-11: #fef9c3;
    --yellow-12: #fefce8;
    --green-1: #0f411b;
    --green-2: #124f1c;
    --green-3: #14532d;
    --green-4: #166534;
    --green-5: #15803d;
    --green-6: #16a34a;
    --green-7: #22c55e;
    --green-8: #4ade80;
    --green-9: #86efac;
    --green-10: #bbf7d0;
    --green-11: #dcfce7;
    --green-12: #f0fdf4;
    --blue-1: #1a1e3f;
    --blue-2: #1c2f5d;
    --blue-3: #1e3a8a;
    --blue-4: #1e40af;
    --blue-5: #1d4ed8;
    --blue-6: #2563eb;
    --blue-7: #3b82f6;
    --blue-8: #60a5fa;
    --blue-9: #93c5fd;
    --blue-10: #bfdbfe;
    --blue-11: #dbeafe;
    --blue-12: #eff6ff;
    --purple-1: #331b3d;
    --purple-2: #441f5b;
    --purple-3: #581c87;
    --purple-4: #6b21a8;
    --purple-5: #7e22ce;
    --purple-6: #9333ea;
    --purple-7: #a855f7;
    --purple-8: #c084fc;
    --purple-9: #d8b4fe;
    --purple-10: #e9d5ff;
    --purple-11: #f3e8ff;
    --purple-12: #faf5ff;
    --pink-1: #51172a;
    --pink-2: #651e35;
    --pink-3: #831843;
    --pink-4: #9d174d;
    --pink-5: #be185d;
    --pink-6: #db2777;
    --pink-7: #ec4899;
    --pink-8: #f472b6;
    --pink-9: #f9a8d4;
    --pink-10: #fbcfe8;
    --pink-11: #fce7f3;
    --pink-12: #fdf2f8;
    --gray-1: #0a0e16;
    --gray-2: #0d121a;
    --gray-3: #111827;
    --gray-4: #1f2937;
    --gray-5: #374151;
    --gray-6: #4b5563;
    --gray-7: #6b7280;
    --gray-8: #9ca3af;
    --gray-9: #d1d5db;
    --gray-10: #e5e7eb;
    --gray-11: #f3f4f6;
    --gray-12: #f9fafb;
    --slate-1: #0a0e16;
    --slate-2: #0e141f;
    --slate-3: #0f172a;
    --slate-4: #1e293b;
    --slate-5: #334155;
    --slate-6: #475569;
    --slate-7: #64748b;
    --slate-8: #94a3b8;
    --slate-9: #cbd5e1;
    --slate-10: #e2e8f0;
    --slate-11: #f1f5f9;
    --slate-12: #f8fafc;
    --focus: 0 0 0 4px rgba(147, 197, 253, 0.5);
  }
}

:root {
  --white: #fff;
  --black: #000;
  --color-primary: var(--slate-12);
  --color-secondary: var(--slate-11);
  --color-tertiary: var(--slate-10);
  --color-highlight: var(--slate-9);
  --color-placeholder: var(--slate-8);
  --color-disabled: var(--slate-7);
  --color-inverse: var(--slate-1);
  --color-inverse-secondary: var(--slate-3);
  --color-inverse-tertiary: var(--slate-6);
  --color-danger: var(--red-9);
  --color-warning: var(--yellow-9);
  --color-success: var(--green-9);
  --color-info: var(--blue-9);
  --color-link: var(--blue-9);
  --color-link-hover: var(--blue-8);
  --component-base: var(--slate-1);
  --component-background: var(--component-base);
  --component-background-secondary: var(--slate-2);
  --component-border: var(--slate-7);
  --component-disabled: var(--slate-7);
  --component-hover: var(--slate-4);
  --component-hover-border: var(--slate-8);
  --component-focus-border: var(--blue-9);

  --border-0: 0;
  --border-1: 3px;
  --border-2: 6px;
  --border-pill: 1000px;

  --size-xs: 0.25rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 2rem;
  --size-xl: 4rem;

  --font-family-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-family-code: Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-family-base: var(--font-family-sans);

  --font-size-body: 1rem;
  --font-size-heading1: 3rem;
  --font-size-heading2: 2.5rem;
  --font-size-heading3: 2rem;
  --font-size-heading4: 1.5rem;
  --font-size-heading5: 1.25rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-body: 1.5;
  --line-height-heading: 1.2;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
