.card {
  padding: var(--size-base-8);
  border-radius: var(--size-border-radius-3);
  background: var(--component-background-secondary);
}

.logo {
  --ls: 90px;
  width: var(--ls);
  height: var(--ls);

  & > img {
    width: 100%;
    height: 100%;
  }
}
