.card {
  padding: var(--size-lg);
  background-color: var(--component-background-secondary);
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  text-align: center;
}

.logo {
  --ls: 90px;
  width: var(--ls);
  height: var(--ls);
  margin: auto;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.swatches {
  display: flex;
  flex-direction: row;
  gap: var(--size-xs);

  & > div {
    --ss: 30px;
    flex: 1;
    height: var(--ss);

    &.red {
      background-color: var(--red-9);
    }
    &.orange {
      background-color: var(--orange-9);
    }
    &.yellow {
      background-color: var(--yellow-9);
    }
    &.green {
      background-color: var(--green-9);
    }
    &.blue {
      background-color: var(--blue-9);
    }
    &.indigo {
      background-color: var(--indigo-9);
    }
    &.violet {
      background-color: var(--violet-9);
    }
    &.purple {
      background-color: var(--purple-9);
    }
    &.pink {
      background-color: var(--pink-9);
    }
    &.gray {
      background-color: var(--gray-9);
    }
    &.slate {
      background-color: var(--slate-9);
    }
    &.brown {
      background-color: var(--brown-9);
    }
    &.amber {
      background-color: var(--amber-9);
    }
    &.tomato {
      background-color: var(--tomato-9);
    }
    &.teal {
      background-color: var(--teal-9);
    }
    &.lime {
      background-color: var(--lime-9);
    }
    &.white {
      background-color: var(--white);
    }
    &.black {
      background-color: var(--black);
    }
  }
}
