@import "ao-design-tokens";

body {
  font-family: var(--typography-family-sans);
  background: var(--component-base);
  color: var(--color-primary);
  line-height: var(--typography-line-height-body);
  padding: var(--size-base-12);
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 700;
  margin: 0 0 var(--size-base-5) 0;
  line-height: var(--typography-line-height-heading);
}

h4,
h5 {
  font-family: inherit;
  font-weight: 700;
  line-height: var(--typography-line-height-body);
}

h1 {
  font-size: var(--size-font-h-1);
}

h2 {
  font-size: var(--size-font-h-2);
}

h3 {
  font-size: var(--size-font-h-3);
}

h4 {
  font-size: var(--size-font-h-4);
}

h5 {
  font-size: var(--size-font-h-5);
}

a {
  color: var(--color-link);
  text-decoration: underline;

  &:hover {
    color: var(--link-hover);
  }
}

b,
strong {
  font-weight: var(--typography-weight-bold);
}

i,
em {
  font-style: italic;
}

p {
  font-size: var(--size-font-body);
  line-height: var(--typography-line-height-body);
  margin-bottom: var(--size-base-4);
}

ul,
ol {
  font-size: var(--typography-line-height-body);
  list-style: disc;
  margin-top: 0;
  margin-bottom: var(--size-base-4);
  padding-left: var(--size-base-8);
}

blockquote {
  margin: var(--size-base-4) 0;
  font-size: var(--size-base-5);
  padding-left: var(--size-base-16);
  border-left: 3px solid var(--color-primary);
  font-family: var(--typography-family-serif);
}
